@import '/src/assets/styles/mixins/inventory-table.scss';

.header {
  @include inventory-table();
  background-color: #dadada;

  .description {
    display: none;
  }

  @media (min-width: 768px) {
    .description {
      display: block;
    }
  }
}
