@import "/src/assets/styles/mixins/inventory-table.scss";

.article {
  @include inventory-table();
  margin-bottom: 1rem;
  background-color: whitesmoke;

  img {
    width: 100%;
    height: auto;
  }

  .description {
    display: none;
  }

  @media (min-width: 768px) {
    .description {
      display: block;
    }
  }
}
