@mixin inventory-table {
  display: flex;
  padding: 0 1rem;
  * {
    margin-right: 1rem;
    padding: 0.5rem 0;

    &.code {
      width: 8rem;
    }

    &.description {
      width: 24rem;
    }

    &.image {
      width: 8rem;
    }

    &.position {
      width: 8rem;
    }

    &.price {
      width: 8rem;
    }

    &.quantity {
      width: 8rem;
    }
  }
}
